<div class="container">
  <div class="jumbotron">
    <img class="profile-img" src="assets/profile.jpg" />
    <h1 class="display-3">Antzelo Balliu</h1>
    <p class="lead">Front-End Software Engineer</p>
    <hr class="my-4">
    
    <p class="lead">In case you are really wondering where the droids are you can find me by one of the following ways:</p>
    <div class="contact-detail">
      <img src="assets/linkedin.png"/>
      <p class="lead"><a href="https://www.linkedin.com/in/anxhelo-balliu-9a4ab1b6/" target="_blank">Anxhelo Balliu</a></p>
    </div>
    <div class="contact-detail">
      <img src="assets/github.png"/>
      <p class="lead"><a href="https://github.com/Shiroe" target="_blank">Shiroe</a></p>
    </div>
    <div class="contact-detail">
      <img src="assets/gmail.png"/>
      <p class="lead">aggelosteck@gmail.com</p>
    </div>
    <div class="contact-detail">
      <img src="assets/phone.png"/>
      <p class="lead">+30 698 3476 036</p>
    </div>
  </div>
</div>
