label {
    display: block;
}

input {
    height: 40px;
    min-width: 100%;
    border: 2px solid #555;
    border-radius: 5px;
    outline: none;
    padding: 8px 16px;
    
}

.post-form-actions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.post-form-actions button {
    margin-right: 20px;
}
